@keyframes slidy {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  35% {
    left: -100%;
  }

  65% {
    left: -100%;
  }

  70% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

body {
  margin: 0;
  background-color: #f8f8f8;
}

body figure {
  margin: 0;
}

#root {
  max-width: 1200px;
  background-color: #ffffff;
  margin: auto;
  overflow: hidden;
}

.menu {
  background-color: #1d1e1f;
  height: 5rem;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 3px;
  position: absolute;
  max-width: 1200px;
  z-index: 9;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 0;
  padding-left: 2rem;
  float: left;
  text-decoration: none;
}

.menu-full {
  padding-top: 1rem;
}

.flex-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-item {
  color: #ffffff;
  font-size: 1.1rem;
  font-family: "Helvetica";
  font-weight: 200;
  text-decoration: none;
}

.menu-item-active {
  color: #55c0ca;
}

div #slider {
  width: 100%;
  overflow: hidden;
}

.slider {
  margin: 0;
  position: relative;
  animation: 30s slidy infinite;
  background-color: #1d1e1f;
}

.slider figure {
  width: 20%;
  height: auto;
  z-index: 0;
  display: inline-block;
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
  margin: 0;
}

.slider figcaption .figcaption-header {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
}

.slider figcaption .figcaption-text {
  font-family: "Helvetica";
  color: #ffffff;
  font-weight: 300;
}

.three-column-flex {
  background-color: #1d1e1f;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.three-column-game {
  width: 260px;
  padding-bottom: 3rem;
}

.news-header {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
}

.news-text {
  font-family: "Helvetica";
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
}

.header-block {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #1d1e1f;
  font-size: 2rem;
  font-weight: 600;
  background-color: #ffffff;
  padding-top: 2rem;
  margin-left: 2rem;
}

.header-block-white {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 4rem;
  text-align: center;
}

.four-column-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.board-shop-flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-header {
  font-family: "Helvetica";
  color: #1d1e1f;
  font-weight: 300;
}

.product-price {
  font-family: "Helvetica";
  color: #55c0ca;
  font-weight: 400;
  text-align: center;
}

.news-main {
  background-color: #1d1e1f;
}

.news-main-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  margin: 0rem 2rem 0rem 2rem;
}

.news-block-header {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
}

footer {
  background-color: #1d1e1f;
  width: 100%;
  height: 14rem;
  max-width: 1200px;
  margin: auto;
}

.header-blog {
  background-image: url("../images/blog-bg.jpg");
  background-attachment: scroll;
  height: 205px;
  width: 100%;
  padding-top: 5rem;
}

.page-name {
  margin: auto;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding-top: 3rem;
  font-size: 3.5rem;
}

.blog-date {
  font-family: "Helvetica";
  opacity: 0.5;
}

.blog-text {
  font-family: "Helvetica";
}

.blog-news-block {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.header-game-ps {
  background-image: url("../images/blog-bg2.jpg");
  height: 205px;
  width: 100%;
  padding-top: 5rem;
}

.shop-content {
  padding-top: 5rem;
}

.shop-flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-game-ps {
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.filter-game-ps span {
  font-family: "Helvetica";
  font-size: 1rem;
}

.head-filter {
  margin-top: 0;
  font-family: "Helvetica";
  font-weight: 500;
  font-size: 1.1rem;
}

.header-board-game {
  background-image: url("../images/shop-bg.jpg");
  height: 205px;
  width: 100%;
  padding-top: 5rem
}

#salutation {
  margin: 1rem 1rem 2rem;
  font-family: "Helvetica";
  font-size: 1rem;
  width: 50%;
  height: 2rem;
  border-radius: 0;
}

.contacts-paragraph {
  margin-top: 4rem;
  font-family: "Helvetica";
  font-size: 1em;
  padding-left: 2rem;
}

.contacts-header {
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 1em;
}

.header-cart {
  background-image: url("../images/cart-bg.jpg");
  height: 205px;
  width: 100%;
  padding-top: 5rem;
}

.cart-content {
  padding-top: 4rem;
  margin-left: 2rem;
  padding-bottom: 6rem;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}

.cart-img {
  max-width: 100%;
}

.cart-product-name {
  font-family: "Helvetica";
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 2rem;
}

.cart-product-price {
  font-family: "Helvetica";
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 2rem;
}

.cart-delete {
  border: 0;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Helvetica";
  margin-left: 2rem;
}

.total {
  font-family: "Helvetica";
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 2rem;
  text-align: right;
  margin-right: 10rem;
  padding-bottom: 5rem;
}

.quantity-block {
  display: flex;
}

.quantity-counter {
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

#product-quantity {
  font-family: "Helvetica";
  font-size: 1rem;
  margin: 0.5rem;
}

.modal {
  position: fixed;
  top: 10rem;
  left: 30%;
  background-color: #ffffff;
  width: 40%;
  height: 50%;
  text-align: center;
  box-shadow: 3px 3px 10px 1px rgba(5,5,5,0.21);
}

.modal-text{
  font-size: 2rem;
  margin-top: 4rem;
  font-family: "Helvetica";
  margin-bottom: 2rem;
  color: #1d1e1f;
}
.modal-button{
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Helvetica";
  background-color: #55c0ca;
  border: 0px;
  color: #ffffff;
}

@media (min-width: 399px) {

  .flex-menu {
    display: none;
  }

  .menu-full-cart {
    display: none;
  }

  label.hamburger {
    z-index: 8;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    display: block;
  }

  label.hamburger>i {
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 70%;
    transform-origin: 50% 50%;
    transition-duration: 0.35s;
  }

  label.hamburger>i:after, label.hamburger>i:before {
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    position: absolute;
    display: block;
    transition: transform 0.35s;
    content: '';
  }

  label.hamburger>i:before {
    transform: translate(0%, -10px);
  }

  label.hamburger>i:after {
    transform: translate(0%, 10px);
  }

  .menu-list {
    position: fixed;
    top: 0;
  /*  right: 0;*/
    width: 100vw;
    height: 100vh;
    background-color: #1d1e1f;
    z-index: 5;
    transform: translate(100vw, 0);
    transition: width 500ms ease-out, transform 500ms ease;
  }

  .menu-list ul {
    list-style: none;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 3rem;
  }

  .menu-list li {
    list-style: none;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    transform: translate(100vw, 0);
  }

  .menu-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: "Helvetica";
    font-weight: 200;
    text-align: center;
    display: block;
    width: 100%;
  }

  .menu-list li a:hover {
    background-color: #363839;
  }

  input.hamburger {
    display: none;
  }

  input.hamburger:checked~.menu-list {
    transform: translateX(0);
    right: 0;
  }

  input.hamburger:checked~.menu-list li {
    transform: translateX(0);
  }

  input.hamburger:checked~label>i {
    background-color: transparent;
    transform: rotate(90deg);
  }

  input.hamburger:checked~label>i:before {
    background-color: #ffffff;
    transform: rotate(315deg);
  }

  input.hamburger:checked~label>i:after {
    background-color: #ffffff;
    transform: rotate(-315deg);
  }

  .slider {
    width: 500%;
    padding-top: 5rem;
  }

  figcaption {
    position: absolute;
    bottom: 2rem;
  }

  figcaption .figcaption-header {
    font-size: 2rem;
    text-align: center;
  }

  figcaption .figcaption-text {
    font-size: 1rem;
    text-align: center;
  }

  .buy-product-button {
    display: block;
    margin: auto;
    width: 5rem;
    height: 1.7rem;
    background-color: #ffffff;
    border: 1px #55c0ca;
    border-style: solid;
    color: #55c0ca;
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  .product-game {
    width: 176px;
    background-color: #ffffff;
  }

  .product-header {
    font-size: 1.3rem;
    text-align: center;
  }

  .product-img {
    max-width: 170px;
  }

  .news-block {
    max-width: 100%;
  }

  .news-block img {
    max-width: 100%;
  }

  .blog-img {
    max-width: 100%;
    margin: auto;
  }

  .blog-header-news {
    font-family: "Source Sans Pro", sans-serif;
    color: #1d1e1f;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .blog-news-block {
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .flex-row {
    display: block;
  }

  .flex-1 {
    width: 80%;
  }

  .flex-2 {
    width: 80%;
  }

  .cart-product-name {
    text-align: center;
  }

  .cart-product-price {
    text-align: center;
  }

  .cart-delete {
    display: none;
  }

  .quantity-block {
    margin-left: 30%;
  }
}
@media (min-width: 599px) {
  .quantity-block {
    margin-left: 35%;
  }
}
@media (min-width: 699px) {
  .menu-full {
    padding-top: 1rem;
    margin-top: 1rem;
  }

  .mobile-menu {
    display: none;
  }

  .menu-item {
    color: #ffffff;
    font-size: 1.1rem;
    font-family: "Helvetica";
    font-weight: 200;
    text-decoration: none;
    padding-left: 2rem;
  }

  .flex-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 120px;
  }

  .menu-cart {
    max-width: 2.5rem;
    padding-left: 2rem;
  }

  .menu-full-cart {
    display: block;
    padding-right: 1rem;
    padding-top: 1rem;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
  }

  .cart-number {
    background-color: #55c0ca;
    border-radius: 30px;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 1rem;
    right: 1.2rem;
  }

  .cart-number p {
    color: #ffffff;
    position: absolute;
    top: -0.7rem;
    right: 0.5rem;
    font-size: 1rem;
    font-family: "Helvetica";
  }

  .slider {
    width: 500%;
  }

  figcaption {
    position: absolute;
    left: 3rem;
    bottom: 7rem;
  }

  figcaption .figcaption-header {
    text-align: left;
  }

  figcaption .figcaption-text {
    font-size: 1.3rem;
    text-align: left;
  }

  .page-name {
    font-size: 5rem;
  }

  .blog-news-block {
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .blog-img {
    max-width: 70%;
    margin: auto;
  }

  .blog-text {
    font-family: "Helvetica";
    max-width: 70%;
  }

  .blog-news-block {
    padding-left: 2rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-right: 1rem;
  }

  .news-block {
    max-width: 445px;
  }

  .news-block img {
    max-width: 445px;
  }

  .filter-game-ps {
    max-width: 20%;
    margin-right: 3rem;
    float: left;
  }

  .shop-flex-row {
    max-width: 80%;
  }

  .product-game {
    padding-right: 1rem;
  }

  .flex-1 {
    width: 13%;
  }

  .flex-2 {
    width: 20%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
  }

  .cart-delete  {
    display: block;
  }
}

@media (min-width: 799px) {
  .menu-cart {
    max-width: 2.8rem;
    padding-left: 2rem;
  }

  .menu-full-cart {
    padding-right: 2rem;
    padding-top: 1rem;
  }

  figcaption .figcaption-header {
    text-align: left;
    font-size: 4rem;
  }

  .three-column-game {
    width: 260px;
  }

  .product-game {
    width: 200px;
    margin-bottom: 6rem;
    height: 100%;
  }

  .product-img {
    max-width: 200px;
  }

  .buy-product-button {
    display: block;
    margin: auto;
    width: 7rem;
    height: 2rem;
    background-color: #ffffff;
    border: 1px #55c0ca;
    border-style: solid;
    color: #55c0ca;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .buy-product-button:hover {
    background-color: #55c0ca;
    color: #ffffff;
  }

  .product-header {
    font-size: 1.3rem;
    text-align: center;
  }

  .product-price {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (min-width: 999px) {
  .product-img {
    max-width: 230px;
  }

  .product-game {
    width: 230px;
  }
}

/*# sourceMappingURL=style.css.map */
